.login-button {
  display: flex;
  justify-content: end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.menu-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
}

.menu-input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  height: 30px;
  gap: 5px;
  margin-right: 20px;
}

.menu-input > input {
  border: 0;
}

.product-image {
  transition: transform 0.3s ease;
}

.product-image:hover {
  transform: scale(1.1);
}
